In [1]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

In [2]:
# 1 Add the function that takes in  arguments for each combined data file;


# Read in the files as Pandas DataFrames.

postsecdata_to_load = "postsecondary_enrollment_combined_1718_1819_1920.csv"
budgetrollup_to_load = "combined_rollup_budget_data_1718_1819.csv"
costdata_to_load = "comp_cost_combined_1718_1819_1920_2021.csv"
revenuedata_to_load = "comp_rev_combined_1718_1819_1920_2021.csv"
reportcarddata_to_load = "district_reportcard_combined_1718_1819_2021.csv"
masterlist_to_load = "Master_Schools_list.csv"

post_sec_df = pd.read_csv(postsecdata_to_load)
budget_df = pd.read_csv(budgetrollup_to_load)
cost_df = pd.read_csv(costdata_to_load)
revenue_df = pd.read_csv(revenuedata_to_load)
reportcard_df = pd.read_csv(reportcarddata_to_load)
masterlist_df = pd.read_csv(masterlist_to_load)

In [3]:
masterlist_df.dtypes

DISTRICT_ID       int64
DISTRICT_NAME    object
dtype: object

In [4]:
revenue_df.dtypes

FISCAL_YEAR      object
DISTRICT_ID       int64
DISTRICT NAME    object
 PROPTAX         object
 FEDERAL         object
 STATE           object
 LOCAL           object
 TOTAL           object
MEMBER            int64
dtype: object

In [5]:
revenue_df.head()

,FISCAL_YEAR,DISTRICT_ID,DISTRICT NAME,PROPTAX,FEDERAL,STATE,LOCAL,TOTAL,MEMBER
0,2019-20,7,Abbotsford,"$2,083,227.00","$953,036.11","$7,452,256.84","$278,642.20","$10,767,162.15",775
1,2019-20,14,Adams-Friendship Area,"$11,131,295.00","$2,689,740.62","$8,870,177.62","$834,039.30","$23,525,252.54",1511
2,2019-20,63,Albany,"$3,177,694.00","$346,574.24","$3,407,735.52","$446,756.32","$7,378,760.08",456
3,2019-20,70,Algoma,"$3,425,587.00","$786,992.57","$5,711,573.86","$535,291.62","$10,459,445.05",753
4,2019-20,84,Alma,"$2,239,440.00","$226,704.19","$1,256,589.53","$228,973.16","$3,951,706.88",234

In [6]:
revenue_df.count()

FISCAL_YEAR      1681
DISTRICT_ID      1681
DISTRICT NAME    1681
 PROPTAX         1681
 FEDERAL         1681
 STATE           1681
 LOCAL           1681
 TOTAL           1681
MEMBER           1681
dtype: int64

In [7]:
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].str.replace(',', '')
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].str.replace('$', '')
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].astype(float)

revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].str.replace(',', '')
revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].str.replace('$', '')
revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].astype(float)

revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].str.replace(',', '')
revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].str.replace('$', '')
revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].astype(float)

revenue_df[' STATE '] = revenue_df[' STATE '].str.replace(',', '')
revenue_df[' STATE '] = revenue_df[' STATE '].str.replace('$', '')
revenue_df[' STATE '] = revenue_df[' STATE '].astype(float)

revenue_df[' LOCAL '] = revenue_df[' LOCAL '].str.replace(',', '')
revenue_df[' LOCAL '] = revenue_df[' LOCAL '].str.replace('$', '')
revenue_df[' LOCAL '] = revenue_df[' LOCAL '].astype(float)

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [8]:
revenue_df.head()

,FISCAL_YEAR,DISTRICT_ID,DISTRICT NAME,PROPTAX,FEDERAL,STATE,LOCAL,TOTAL,MEMBER
0,2019-20,7,Abbotsford,2083227.0,953036.11,7452256.84,278642.20,10767162.15,775
1,2019-20,14,Adams-Friendship Area,11131295.0,2689740.62,8870177.62,834039.30,23525252.54,1511
2,2019-20,63,Albany,3177694.0,346574.24,3407735.52,446756.32,7378760.08,456
3,2019-20,70,Algoma,3425587.0,786992.57,5711573.86,535291.62,10459445.05,753
4,2019-20,84,Alma,2239440.0,226704.19,1256589.53,228973.16,3951706.88,234

In [9]:
cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,"$5,537,677.76","$626,845.61","$953,465.76","$1,178,853.75","$285,017.43","$690,000.00","$624,371.52"
1,7,Abbotsford,2021,795,"$5,864,021.77","$561,306.41","$951,675.18","$1,306,162.74","$284,588.19","$713,053.29","$674,102.51"
2,7,Abbotsford,2018,771,"$4,712,764.25","$558,286.58","$871,757.43","$2,018,703.90","$334,309.84","$683,000.00","$552,630.62"
3,7,Abbotsford,2019,767,"$4,900,421.54","$532,611.13","$1,006,530.80","$1,788,218.10","$333,778.82","$1,274,752.00","$603,227.06"
4,14,Adams-Friendship Area,2020,1511,"$12,260,874.21","$2,285,988.23","$2,069,684.15","$2,667,794.18","$788,916.08","$118,519.60","$1,287,245.82"

In [10]:
cost_df.dtypes

DISTRICT_ID                 int64
DISTRICT_NAME              object
FISCAL_YEAR                 int64
Member                      int64
Instruction                object
Pupil_Staff_Support        object
Admin                      object
Operation_Other            object
Transportation_cost        object
Facility_cost              object
Food_comm_service_cost     object
dtype: object

In [11]:
cost_df.count()

DISTRICT_ID                1683
DISTRICT_NAME              1683
FISCAL_YEAR                1683
Member                     1683
Instruction                1683
Pupil_Staff_Support        1683
Admin                      1683
Operation_Other            1683
Transportation_cost        1683
Facility_cost              1683
Food_comm_service_cost     1683
dtype: int64

In [12]:
#dropping Holy Hill Area from data because no cost data in 2018 
cost_df = cost_df[cost_df['DISTRICT_ID'] != 2570]
#dropping Norris (missing data and correctional facility outlier)
cost_df = cost_df[cost_df['DISTRICT_ID'] != 3976]

#dropping two more with - values in food service column
cost_df = cost_df[cost_df['DISTRICT_ID'] != 2051]
cost_df = cost_df[cost_df['DISTRICT_ID'] != 6069]
cost_df.count()

DISTRICT_ID                1670
DISTRICT_NAME              1670
FISCAL_YEAR                1670
Member                     1670
Instruction                1670
Pupil_Staff_Support        1670
Admin                      1670
Operation_Other            1670
Transportation_cost        1670
Facility_cost              1670
Food_comm_service_cost     1670
dtype: int64

In [13]:
cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,"$5,537,677.76","$626,845.61","$953,465.76","$1,178,853.75","$285,017.43","$690,000.00","$624,371.52"
1,7,Abbotsford,2021,795,"$5,864,021.77","$561,306.41","$951,675.18","$1,306,162.74","$284,588.19","$713,053.29","$674,102.51"
2,7,Abbotsford,2018,771,"$4,712,764.25","$558,286.58","$871,757.43","$2,018,703.90","$334,309.84","$683,000.00","$552,630.62"
3,7,Abbotsford,2019,767,"$4,900,421.54","$532,611.13","$1,006,530.80","$1,788,218.10","$333,778.82","$1,274,752.00","$603,227.06"
4,14,Adams-Friendship Area,2020,1511,"$12,260,874.21","$2,285,988.23","$2,069,684.15","$2,667,794.18","$788,916.08","$118,519.60","$1,287,245.82"

In [14]:
cost_df['Instruction '] = cost_df['Instruction '].str.replace(',', '')
cost_df['Instruction '] = cost_df['Instruction '].str.replace('$', '')
cost_df['Instruction '] = cost_df['Instruction '].astype(float)

cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].str.replace(',', '')
cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].str.replace('$', '')
cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].astype(float)

cost_df['Admin '] = cost_df['Admin '].str.replace(',', '')
cost_df['Admin '] = cost_df['Admin '].str.replace('$', '')
cost_df['Admin '] = cost_df['Admin '].astype(float)

cost_df['Operation_Other '] = cost_df['Operation_Other '].str.replace(',', '')
cost_df['Operation_Other '] = cost_df['Operation_Other '].str.replace('$', '')
cost_df['Operation_Other '] = cost_df['Operation_Other '].astype(float)

cost_df['Transportation_cost '] = cost_df['Transportation_cost '].str.replace(',', '')
cost_df['Transportation_cost '] = cost_df['Transportation_cost '].str.replace('$', '')
cost_df['Transportation_cost '] = cost_df['Transportation_cost '].astype(float)

#not going to use facility cost because too many - values and not useful to us
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace(',', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace('(', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace(')', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace('$', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].astype(float)

cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].str.replace(',', '')
cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].str.replace('$', '')
cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].astype(float)

cost_df.head()

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:29: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,"$690,000.00",624371.52
1,7,Abbotsford,2021,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,"$713,053.29",674102.51
2,7,Abbotsford,2018,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,"$683,000.00",552630.62
3,7,Abbotsford,2019,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,"$1,274,752.00",603227.06
4,14,Adams-Friendship Area,2020,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,"$118,519.60",1287245.82

In [20]:
#dropping facility cost column
cost_df = cost_df.drop(['Facility_cost '], axis=1)

cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,624371.52
1,7,Abbotsford,2021,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,674102.51
2,7,Abbotsford,2018,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62
3,7,Abbotsford,2019,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,603227.06
4,14,Adams-Friendship Area,2020,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,1287245.82

In [ ]:

#create connection to Postgres, add movies_df df to sql database
#create connection string through local serving (using db password variable)
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/HSPostSecAnalysis"
#create database engine
engine = create_engine(db_string)


#save DataFrame to a SQL table (specify name of table and engine in to_sql method)
masterlist_df.to_sql(name='Master', con=engine, if_exists='replace')
post_sec_df.to_sql(name='PostSecEnroll', con=engine, if_exists='replace')
budget_df.to_sql(name='Budgets', con=engine, if_exists='replace')
cost_df.to_sql(name='Costs', con=engine, if_exists='replace')
revenue_df.to_sql(name='Revenues', con=engine, if_exists='replace')
reportcard_df.to_sql(name='ReportCards', con=engine, if_exists='replace')