In [3]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

In [4]:
# 1 Add the function that takes in  arguments for each combined data file;


# Read in the files as Pandas DataFrames.

postsecdata_to_load = "postsecondary_enrollment_combined_1718_1819_1920.csv"
budgetrollup_to_load = "combined_rollup_budget_data_1718_1819.csv"
costdata_to_load = "comp_cost_combined_1718_1819_1920_2021.csv"
revenuedata_to_load = "comp_rev_combined_1718_1819_1920_2021.csv"
reportcarddata_to_load = "district_reportcard_combined_1718_1819_2021.csv"
masterlist_to_load = "Master_Schools_list.csv"

post_sec_df = pd.read_csv(postsecdata_to_load)
budget_df = pd.read_csv(budgetrollup_to_load)
cost_df = pd.read_csv(costdata_to_load)
revenue_df = pd.read_csv(revenuedata_to_load)
reportcard_df = pd.read_csv(reportcarddata_to_load)
masterlist_df = pd.read_csv(masterlist_to_load)

In [5]:
masterlist_df.dtypes

DISTRICT_ID       int64
DISTRICT_NAME    object
dtype: object

In [6]:
revenue_df.dtypes

FISCAL_YEAR      object
DISTRICT_ID       int64
DISTRICT NAME    object
 PROPTAX         object
 FEDERAL         object
 STATE           object
 LOCAL           object
 TOTAL           object
MEMBER            int64
dtype: object

In [7]:
revenue_df.head()

,FISCAL_YEAR,DISTRICT_ID,DISTRICT NAME,PROPTAX,FEDERAL,STATE,LOCAL,TOTAL,MEMBER
0,2019-20,7,Abbotsford,"$2,083,227.00","$953,036.11","$7,452,256.84","$278,642.20","$10,767,162.15",775
1,2019-20,14,Adams-Friendship Area,"$11,131,295.00","$2,689,740.62","$8,870,177.62","$834,039.30","$23,525,252.54",1511
2,2019-20,63,Albany,"$3,177,694.00","$346,574.24","$3,407,735.52","$446,756.32","$7,378,760.08",456
3,2019-20,70,Algoma,"$3,425,587.00","$786,992.57","$5,711,573.86","$535,291.62","$10,459,445.05",753
4,2019-20,84,Alma,"$2,239,440.00","$226,704.19","$1,256,589.53","$228,973.16","$3,951,706.88",234

In [8]:
revenue_df.count()

FISCAL_YEAR      1681
DISTRICT_ID      1681
DISTRICT NAME    1681
 PROPTAX         1681
 FEDERAL         1681
 STATE           1681
 LOCAL           1681
 TOTAL           1681
MEMBER           1681
dtype: int64

In [9]:
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].str.replace(',', '')
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].str.replace('$', '')
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].astype(float)

revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].str.replace(',', '')
revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].str.replace('$', '')
revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].astype(float)

revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].str.replace(',', '')
revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].str.replace('$', '')
revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].astype(float)

revenue_df[' STATE '] = revenue_df[' STATE '].str.replace(',', '')
revenue_df[' STATE '] = revenue_df[' STATE '].str.replace('$', '')
revenue_df[' STATE '] = revenue_df[' STATE '].astype(float)

revenue_df[' LOCAL '] = revenue_df[' LOCAL '].str.replace(',', '')
revenue_df[' LOCAL '] = revenue_df[' LOCAL '].str.replace('$', '')
revenue_df[' LOCAL '] = revenue_df[' LOCAL '].astype(float)

revenue_df = revenue_df.rename(columns={'FISCAL_YEAR': 'SCHOOL_YEAR'})

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [10]:
revenue_df.head()

,FISCAL_YEAR,DISTRICT_ID,DISTRICT NAME,PROPTAX,FEDERAL,STATE,LOCAL,TOTAL,MEMBER
0,2019-20,7,Abbotsford,2083227.0,953036.11,7452256.84,278642.20,10767162.15,775
1,2019-20,14,Adams-Friendship Area,11131295.0,2689740.62,8870177.62,834039.30,23525252.54,1511
2,2019-20,63,Albany,3177694.0,346574.24,3407735.52,446756.32,7378760.08,456
3,2019-20,70,Algoma,3425587.0,786992.57,5711573.86,535291.62,10459445.05,753
4,2019-20,84,Alma,2239440.0,226704.19,1256589.53,228973.16,3951706.88,234

In [11]:
cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,"$5,537,677.76","$626,845.61","$953,465.76","$1,178,853.75","$285,017.43","$690,000.00","$624,371.52"
1,7,Abbotsford,2021,795,"$5,864,021.77","$561,306.41","$951,675.18","$1,306,162.74","$284,588.19","$713,053.29","$674,102.51"
2,7,Abbotsford,2018,771,"$4,712,764.25","$558,286.58","$871,757.43","$2,018,703.90","$334,309.84","$683,000.00","$552,630.62"
3,7,Abbotsford,2019,767,"$4,900,421.54","$532,611.13","$1,006,530.80","$1,788,218.10","$333,778.82","$1,274,752.00","$603,227.06"
4,14,Adams-Friendship Area,2020,1511,"$12,260,874.21","$2,285,988.23","$2,069,684.15","$2,667,794.18","$788,916.08","$118,519.60","$1,287,245.82"

In [12]:
cost_df.dtypes

DISTRICT_ID                 int64
DISTRICT_NAME              object
FISCAL_YEAR                 int64
Member                      int64
Instruction                object
Pupil_Staff_Support        object
Admin                      object
Operation_Other            object
Transportation_cost        object
Facility_cost              object
Food_comm_service_cost     object
dtype: object

In [13]:
cost_df.count()

DISTRICT_ID                1683
DISTRICT_NAME              1683
FISCAL_YEAR                1683
Member                     1683
Instruction                1683
Pupil_Staff_Support        1683
Admin                      1683
Operation_Other            1683
Transportation_cost        1683
Facility_cost              1683
Food_comm_service_cost     1683
dtype: int64

In [14]:
#dropping Holy Hill Area from data because no cost data in 2018 
cost_df = cost_df[cost_df['DISTRICT_ID'] != 2570]
#dropping Norris (missing data and correctional facility outlier)
cost_df = cost_df[cost_df['DISTRICT_ID'] != 3976]

#dropping two more with - values in food service column
cost_df = cost_df[cost_df['DISTRICT_ID'] != 2051]
cost_df = cost_df[cost_df['DISTRICT_ID'] != 6069]
cost_df.count()

DISTRICT_ID                1670
DISTRICT_NAME              1670
FISCAL_YEAR                1670
Member                     1670
Instruction                1670
Pupil_Staff_Support        1670
Admin                      1670
Operation_Other            1670
Transportation_cost        1670
Facility_cost              1670
Food_comm_service_cost     1670
dtype: int64

In [15]:
cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,"$5,537,677.76","$626,845.61","$953,465.76","$1,178,853.75","$285,017.43","$690,000.00","$624,371.52"
1,7,Abbotsford,2021,795,"$5,864,021.77","$561,306.41","$951,675.18","$1,306,162.74","$284,588.19","$713,053.29","$674,102.51"
2,7,Abbotsford,2018,771,"$4,712,764.25","$558,286.58","$871,757.43","$2,018,703.90","$334,309.84","$683,000.00","$552,630.62"
3,7,Abbotsford,2019,767,"$4,900,421.54","$532,611.13","$1,006,530.80","$1,788,218.10","$333,778.82","$1,274,752.00","$603,227.06"
4,14,Adams-Friendship Area,2020,1511,"$12,260,874.21","$2,285,988.23","$2,069,684.15","$2,667,794.18","$788,916.08","$118,519.60","$1,287,245.82"

In [16]:
cost_df['Instruction '] = cost_df['Instruction '].str.replace(',', '')
cost_df['Instruction '] = cost_df['Instruction '].str.replace('$', '')
cost_df['Instruction '] = cost_df['Instruction '].astype(float)

cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].str.replace(',', '')
cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].str.replace('$', '')
cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].astype(float)

cost_df['Admin '] = cost_df['Admin '].str.replace(',', '')
cost_df['Admin '] = cost_df['Admin '].str.replace('$', '')
cost_df['Admin '] = cost_df['Admin '].astype(float)

cost_df['Operation_Other '] = cost_df['Operation_Other '].str.replace(',', '')
cost_df['Operation_Other '] = cost_df['Operation_Other '].str.replace('$', '')
cost_df['Operation_Other '] = cost_df['Operation_Other '].astype(float)

cost_df['Transportation_cost '] = cost_df['Transportation_cost '].str.replace(',', '')
cost_df['Transportation_cost '] = cost_df['Transportation_cost '].str.replace('$', '')
cost_df['Transportation_cost '] = cost_df['Transportation_cost '].astype(float)

#not going to use facility cost because too many - values and not useful to us
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace(',', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace('(', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace(')', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace('$', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].astype(float)

cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].str.replace(',', '')
cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].str.replace('$', '')
cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].astype(float)

cost_df.head()

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:29: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,"$690,000.00",624371.52
1,7,Abbotsford,2021,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,"$713,053.29",674102.51
2,7,Abbotsford,2018,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,"$683,000.00",552630.62
3,7,Abbotsford,2019,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,"$1,274,752.00",603227.06
4,14,Adams-Friendship Area,2020,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,"$118,519.60",1287245.82

In [17]:
#dropping facility cost column
cost_df = cost_df.drop(['Facility_cost '], axis=1)

# cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,624371.52
1,7,Abbotsford,2021,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,674102.51
2,7,Abbotsford,2018,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62
3,7,Abbotsford,2019,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,603227.06
4,14,Adams-Friendship Area,2020,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,1287245.82

In [51]:
#replace fiscal year value with school year and rename column
cost_df.loc[cost_df['FISCAL_YEAR'] == 2020, 'FISCAL_YEAR'] = '2019-20'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2018, 'FISCAL_YEAR'] = '2017-18'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2019, 'FISCAL_YEAR'] = '2018-19'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2021, 'FISCAL_YEAR'] = '2020-21'

cost_df = cost_df.rename(columns={'FISCAL_YEAR': 'SCHOOL_YEAR'})

cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,SCHOOL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Food_comm_service_cost
0,7,Abbotsford,2019-20,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,624371.52
1,7,Abbotsford,2020-21,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,674102.51
2,7,Abbotsford,2017-18,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62
3,7,Abbotsford,2018-19,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,603227.06
4,14,Adams-Friendship Area,2019-20,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,1287245.82

In [18]:
reportcard_df.count()

School_Year                                          1264
District_ID                                          1264
School_Code                                           885
Cooperative_Educational_Service_Agency               1264
District_Name                                        1264
Overall_Accountability_Score                         1261
Overall_Accountability_Rating                        1261
Lowest_Grade_in_the_District                         1264
Highest_Grade_in_the_District                        1264
School_Type                                           133
District_Enrollment                                  1264
Percent_American_Indian_or_Alaskan_Native            1264
Percent_Asian                                        1264
Percent_Black_or_African_American                    1264
Percent_Hispanic_Latino                              1264
Percent_Native_Hawaiian_or_Other_Pacific_Islander    1264
Percent_White                                        1264
Percent_Two_or_More_Races                            1264
Percent_Students_with_Disabilities                   1264
Percent_Economically_Disadvantaged                   1264
Percent_Limited_English_Proficient                   1264
Percent_Within_District_Mobility                     1264
Percent_Between_District_Mobility                    1264
District_Student_Achievement_Score                   1260
District_ELA_Achievement_Score                       1260
District_Mathematics_Achievement_Score               1260
District_Student_Growth_Score                        1250
District_ELA_Growth_Score                            1250
District_Mathematics_Growth_Score                    1250
dtype: int64

In [19]:
#check for missing values
reportcard_df

,School_Year,District_ID,School_Code,Cooperative_Educational_Service_Agency,District_Name,Overall_Accountability_Score,Overall_Accountability_Rating,Lowest_Grade_in_the_District,Highest_Grade_in_the_District,School_Type,...,Percent_Economically_Disadvantaged,Percent_Limited_English_Proficient,Percent_Within_District_Mobility,Percent_Between_District_Mobility,District_Student_Achievement_Score,District_ELA_Achievement_Score,District_Mathematics_Achievement_Score,District_Student_Growth_Score,District_ELA_Growth_Score,District_Mathematics_Growth_Score
0,2020-21,2450,20,Arrowhead UHS,Arrowhead High,85.2,Significantly Exceeds Expectations,9,12,High School,...,0.084,0.003,0.0,0.011,88.1,84.6,91.6,71.7,58.4,85.0
1,2020-21,6013,20,Big Foot UHS,Big Foot High,71.5,Exceeds Expectations,9,12,High School,...,0.423,0.047,0.0,0.013,60.6,65.7,55.5,71.7,77.4,66.0
2,2020-21,657,20,Brighton #1,Brighton Elementary,83.4,Significantly Exceeds Expectations,K4,8,Elementary School,...,0.17,0.005,0.0,0.025,88.9,86.6,91.2,65.1,60.3,69.8
3,2020-21,665,20,Bristol #1,Bristol Elementary,80.3,Exceeds Expectations,K4,8,Elementary School,...,0.224,0.009,0.0,0.015,75.3,76.3,74.2,75.5,81.2,69.8
4,2020-21,5054,20,Central/Westosha UHS,Central High,71.2,Exceeds Expectations,9,12,High School,...,0.213,0.012,0.0,0.027,71.6,73.8,69.4,70.8,66.0,75.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,2018-19,6083,20,Waterford UHS,Waterford High,79.6,Exceeds Expectations^,9,12,High School,...,0.094,0.005,0.0,0.017,74.4,37.2,37.2,78.4,33.0,45.4
1260,2018-19,6412,20,Wheatland J1,Wheatland Center Elementary,71,Meets Expectations,K4,8,Elementary School,...,0.458,0.002,0.0,0.026,74.2,37.3,36.9,68.0,37.8,30.2
1261,2018-19,6545,20,Wilmot UHS,Wilmot High,70,Meets Expectations,9,12,High School,...,0.288,0.007,0.0,0.054,65.3,33.8,31.5,52.7,29.2,23.5
1262,2018-19,6720,20,Woodruff J1,Arbor Vitae-Woodruff Elementary,81.8,Exceeds Expectations,K4,8,Elementary School,...,0.514,0,0.0,0.033,77.4,39.3,38.1,78.4,35.9,42.5
1263,2018-19,6748,20,Yorkville J2,Yorkville Elementary,84.1,Significantly Exceeds Expectations,K4,8,Elementary School,...,0.1,0.007,0.0,0.007,77.2,38.2,39.0,79.3,40.6,38.7

In [20]:
#checking the data types
reportcard_df.dtypes

School_Year                                           object
District_ID                                            int64
School_Code                                           object
Cooperative_Educational_Service_Agency                object
District_Name                                         object
Overall_Accountability_Score                          object
Overall_Accountability_Rating                         object
Lowest_Grade_in_the_District                          object
Highest_Grade_in_the_District                          int64
School_Type                                           object
District_Enrollment                                    int64
Percent_American_Indian_or_Alaskan_Native            float64
Percent_Asian                                        float64
Percent_Black_or_African_American                    float64
Percent_Hispanic_Latino                              float64
Percent_Native_Hawaiian_or_Other_Pacific_Islander    float64
Percent_White                                        float64
Percent_Two_or_More_Races                            float64
Percent_Students_with_Disabilities                    object
Percent_Economically_Disadvantaged                    object
Percent_Limited_English_Proficient                    object
Percent_Within_District_Mobility                     float64
Percent_Between_District_Mobility                    float64
District_Student_Achievement_Score                   float64
District_ELA_Achievement_Score                       float64
District_Mathematics_Achievement_Score               float64
District_Student_Growth_Score                        float64
District_ELA_Growth_Score                            float64
District_Mathematics_Growth_Score                    float64
dtype: object

In [21]:
for col in reportcard_df.columns:
    print(col)

School_Year
District_ID
School_Code
Cooperative_Educational_Service_Agency
District_Name
Overall_Accountability_Score
Overall_Accountability_Rating
Lowest_Grade_in_the_District
Highest_Grade_in_the_District
School_Type
District_Enrollment
Percent_American_Indian_or_Alaskan_Native
Percent_Asian
Percent_Black_or_African_American
Percent_Hispanic_Latino
Percent_Native_Hawaiian_or_Other_Pacific_Islander
Percent_White
Percent_Two_or_More_Races
Percent_Students_with_Disabilities
Percent_Economically_Disadvantaged
Percent_Limited_English_Proficient
Percent_Within_District_Mobility
Percent_Between_District_Mobility
District_Student_Achievement_Score
District_ELA_Achievement_Score
District_Mathematics_Achievement_Score
District_Student_Growth_Score
District_ELA_Growth_Score
District_Mathematics_Growth_Score

In [22]:
# checking the null values but not removing due to data loss
reportcard_df.isnull().sum()

School_Year                                             0
District_ID                                             0
School_Code                                           379
Cooperative_Educational_Service_Agency                  0
District_Name                                           0
Overall_Accountability_Score                            3
Overall_Accountability_Rating                           3
Lowest_Grade_in_the_District                            0
Highest_Grade_in_the_District                           0
School_Type                                          1131
District_Enrollment                                     0
Percent_American_Indian_or_Alaskan_Native               0
Percent_Asian                                           0
Percent_Black_or_African_American                       0
Percent_Hispanic_Latino                                 0
Percent_Native_Hawaiian_or_Other_Pacific_Islander       0
Percent_White                                           0
Percent_Two_or_More_Races                               0
Percent_Students_with_Disabilities                      0
Percent_Economically_Disadvantaged                      0
Percent_Limited_English_Proficient                      0
Percent_Within_District_Mobility                        0
Percent_Between_District_Mobility                       0
District_Student_Achievement_Score                      4
District_ELA_Achievement_Score                          4
District_Mathematics_Achievement_Score                  4
District_Student_Growth_Score                          14
District_ELA_Growth_Score                              14
District_Mathematics_Growth_Score                      14
dtype: int64

In [23]:
# removing columns 'School_Code','School_Type'
reportcard_df = reportcard_df.drop(columns=['School_Code','School_Type'])
#changing data type to string
reportcard_df['Cooperative_Educational_Service_Agency'] = reportcard_df['Cooperative_Educational_Service_Agency'].astype("string")
#changing data type to string
reportcard_df['Lowest_Grade_in_the_District'] = reportcard_df['Lowest_Grade_in_the_District'].astype("string")
#changing data type to string
reportcard_df['Highest_Grade_in_the_District'] = reportcard_df['Highest_Grade_in_the_District'].astype("string")
#Removing NA and AR values from Percent_Students_with_Disabilities
reportcard_df= reportcard_df.dropna(subset =['Overall_Accountability_Score'])
#Removing NA and AR values from Percent_Students_with_Disabilities
reportcard_df = reportcard_df[reportcard_df['Overall_Accountability_Score']!='AR']
#changing data type to float
reportcard_df['Overall_Accountability_Score'] =reportcard_df['Overall_Accountability_Score'].astype(float)
#changing data type to float
reportcard_df['Percent_Students_with_Disabilities'] =reportcard_df['Percent_Students_with_Disabilities'].astype(float)
#changing data type to float
reportcard_df['Percent_Limited_English_Proficient'] =reportcard_df['Percent_Limited_English_Proficient'].astype(float)
#changing data type to float
reportcard_df['Percent_Economically_Disadvantaged'] =reportcard_df['Percent_Economically_Disadvantaged'].astype(float)

reportcard_df = reportcard_df.rename(columns={'School_Year': 'SCHOOL_YEAR'})

#New dtypes
reportcard_df.dtypes

School_Year                                           object
District_ID                                            int64
Cooperative_Educational_Service_Agency                string
District_Name                                         object
Overall_Accountability_Score                         float64
Overall_Accountability_Rating                         object
Lowest_Grade_in_the_District                          string
Highest_Grade_in_the_District                         string
District_Enrollment                                    int64
Percent_American_Indian_or_Alaskan_Native            float64
Percent_Asian                                        float64
Percent_Black_or_African_American                    float64
Percent_Hispanic_Latino                              float64
Percent_Native_Hawaiian_or_Other_Pacific_Islander    float64
Percent_White                                        float64
Percent_Two_or_More_Races                            float64
Percent_Students_with_Disabilities                   float64
Percent_Economically_Disadvantaged                   float64
Percent_Limited_English_Proficient                   float64
Percent_Within_District_Mobility                     float64
Percent_Between_District_Mobility                    float64
District_Student_Achievement_Score                   float64
District_ELA_Achievement_Score                       float64
District_Mathematics_Achievement_Score               float64
District_Student_Growth_Score                        float64
District_ELA_Growth_Score                            float64
District_Mathematics_Growth_Score                    float64
dtype: object

In [24]:
post_sec_df.dtypes

SCHOOL_YEAR              object
AGENCY_TYPE              object
CHARTER_IND              object
CESA                    float64
COUNTY                   object
DISTRICT_ID               int64
SCHOOL_CODE             float64
GRADE_GROUP              object
DISTRICT_NAME            object
SCHOOL_NAME              object
INITIAL_ENROLLMENT       object
INSTITUTION_LOCATION     object
INSTITUTION_LEVEL        object
INSTITUTION_TYPE         object
GROUP_BY                 object
GROUP_BY_VALUE           object
GROUP_COUNT              object
STUDENT_COUNT            object
dtype: object

In [25]:
post_sec_df.count()

SCHOOL_YEAR             228739
AGENCY_TYPE             226669
CHARTER_IND             226669
CESA                    226669
COUNTY                  226669
DISTRICT_ID             228739
SCHOOL_CODE             124358
GRADE_GROUP             228739
DISTRICT_NAME           228739
SCHOOL_NAME             228739
INITIAL_ENROLLMENT      228739
INSTITUTION_LOCATION    228739
INSTITUTION_LEVEL       228739
INSTITUTION_TYPE        228739
GROUP_BY                228739
GROUP_BY_VALUE          228739
GROUP_COUNT             228739
STUDENT_COUNT           228739
dtype: int64

In [26]:
# Remove aggregate data with [Statewide] distinction
post_sec_df = post_sec_df[post_sec_df['DISTRICT_ID'] != 0]
post_sec_df.head(10)

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_ID,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT
576,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,2-Year,Public,All Students,All Students,21,4
577,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,4-Year,Public,All Students,All Students,21,12
578,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,Multiple,Public,All Students,All Students,21,1
579,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,Out-of-State,4-Year,Private,All Students,All Students,21,1
580,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],Second Fall,In-State,4-Year,Private,All Students,All Students,21,1
581,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],Second Fall,In-State,4-Year,Public,All Students,All Students,21,2
582,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,2-Year,Public,Disability Status,SwoD,21,4
583,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,4-Year,Public,Disability Status,SwoD,21,12
584,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,Multiple,Public,Disability Status,SwoD,21,1
585,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,Out-of-State,4-Year,Private,Disability Status,SwoD,21,1

In [27]:
post_sec_df = post_sec_df[post_sec_df['STUDENT_COUNT'] != '*']
post_sec_df.count()

SCHOOL_YEAR             212753
AGENCY_TYPE             212753
CHARTER_IND             212753
CESA                    212753
COUNTY                  212753
DISTRICT_ID             212753
SCHOOL_CODE             115830
GRADE_GROUP             212753
DISTRICT_NAME           212753
SCHOOL_NAME             212753
INITIAL_ENROLLMENT      212753
INSTITUTION_LOCATION    212753
INSTITUTION_LEVEL       212753
INSTITUTION_TYPE        212753
GROUP_BY                212753
GROUP_BY_VALUE          212753
GROUP_COUNT             212753
STUDENT_COUNT           212753
dtype: int64

In [28]:
# replace '*' with NaN
post_sec_df = post_sec_df.replace('*', np.NaN)
# Remove aggregate data with [Districtwide] distinction
post_sec_df = post_sec_df[post_sec_df['SCHOOL_NAME'] != '[Districtwide]']
post_sec_df.count()

SCHOOL_YEAR             115830
AGENCY_TYPE             115830
CHARTER_IND             115830
CESA                    115830
COUNTY                  115830
DISTRICT_ID             115830
SCHOOL_CODE             115830
GRADE_GROUP             115830
DISTRICT_NAME           115830
SCHOOL_NAME             115830
INITIAL_ENROLLMENT      115830
INSTITUTION_LOCATION    115830
INSTITUTION_LEVEL       115830
INSTITUTION_TYPE        115830
GROUP_BY                115830
GROUP_BY_VALUE          115830
GROUP_COUNT             115830
STUDENT_COUNT           115830
dtype: int64

In [29]:
# Typecast numeric data
post_sec_df['CESA'] = post_sec_df['CESA'].astype(int)
post_sec_df['SCHOOL_CODE'] = post_sec_df['SCHOOL_CODE'].astype(int)
post_sec_df['GROUP_COUNT'] = post_sec_df['GROUP_COUNT'].astype(int)
post_sec_df['STUDENT_COUNT'] = post_sec_df['STUDENT_COUNT'].astype(int)

# Change Charter School Yes/No to a boolean
post_sec_df['CHARTER_IND'].replace(('Yes', 'No'), (True, False), inplace=True)

In [30]:
post_sec_df.dtypes

SCHOOL_YEAR             object
AGENCY_TYPE             object
CHARTER_IND               bool
CESA                     int32
COUNTY                  object
DISTRICT_ID              int64
SCHOOL_CODE              int32
GRADE_GROUP             object
DISTRICT_NAME           object
SCHOOL_NAME             object
INITIAL_ENROLLMENT      object
INSTITUTION_LOCATION    object
INSTITUTION_LEVEL       object
INSTITUTION_TYPE        object
GROUP_BY                object
GROUP_BY_VALUE          object
GROUP_COUNT              int32
STUDENT_COUNT            int32
dtype: object

In [31]:
post_sec_df.to_csv('post_sec_clean.csv')

In [32]:
#check for missing values
budget_df.count()

School_Year      720786
DISTRICT_ID      720786
DISTRICT_NAME    720786
Fund_Function    720786
 AMOUNT          720786
dtype: int64

In [33]:
#total empty rows
budget_df.isnull().sum()

School_Year      0
DISTRICT_ID      0
DISTRICT_NAME    0
Fund_Function    0
 AMOUNT          0
dtype: int64

In [34]:
budget_df.dtypes

School_Year      object
DISTRICT_ID       int64
DISTRICT_NAME    object
Fund_Function    object
 AMOUNT          object
dtype: object

In [35]:
#dropping Hartford UHS and Platteville with - values in amount column
budget_df = budget_df[budget_df[' AMOUNT '] != ' $-   ']
budget_df.count()

School_Year      720782
DISTRICT_ID      720782
DISTRICT_NAME    720782
Fund_Function    720782
 AMOUNT          720782
dtype: int64

In [36]:
# Remove $ and , and convert to float
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(',', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(' ', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace('(', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(')', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace('$', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].astype(float)

budget_df = budget_df.rename(columns={'School_Year': 'SCHOOL_YEAR'})

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [37]:
budget_df.head()

  School_Year  DISTRICT_ID DISTRICT_NAME  Fund_Function    AMOUNT
0     2017-18            7    Abbotsford  08B 800000001  5761542.0
1     2017-18            7    Abbotsford  08B 800000002  5080000.0
2     2017-18            7    Abbotsford  08B 840000001  5761542.0
3     2017-18            7    Abbotsford  08B 840000002  5080000.0
4     2017-18            7    Abbotsford  08B 842300001  5650000.0

In [38]:
# split column and add new columns to df
split_fund_function = budget_df['Fund_Function'].str.split(' ', expand=True)
# display the dataframe
split_fund_function.head()

     0          1
0  08B  800000001
1  08B  800000002
2  08B  840000001
3  08B  840000002
4  08B  842300001

In [39]:
#dropping fund function column
budget_df = budget_df.drop(['Fund_Function'], axis=1)
budget_df.head()

  School_Year  DISTRICT_ID DISTRICT_NAME    AMOUNT
0     2017-18            7    Abbotsford  5761542.0
1     2017-18            7    Abbotsford  5080000.0
2     2017-18            7    Abbotsford  5761542.0
3     2017-18            7    Abbotsford  5080000.0
4     2017-18            7    Abbotsford  5650000.0

In [40]:
budget_df = budget_df.join(split_fund_function)
budget_df.head()

  School_Year  DISTRICT_ID DISTRICT_NAME    AMOUNT     0          1
0     2017-18            7    Abbotsford  5761542.0  08B  800000001
1     2017-18            7    Abbotsford  5080000.0  08B  800000002
2     2017-18            7    Abbotsford  5761542.0  08B  840000001
3     2017-18            7    Abbotsford  5080000.0  08B  840000002
4     2017-18            7    Abbotsford  5650000.0  08B  842300001

In [41]:
budget_df.columns = ['School_Year', 'DISTRICT_ID', 'DISTRICT_NAME', 'AMOUNT', 'FUND', 'FUNCTION']

In [42]:
budget_df

       School_Year  DISTRICT_ID DISTRICT_NAME     AMOUNT FUND   FUNCTION
0          2017-18            7    Abbotsford  5761542.0  08B  800000001
1          2017-18            7    Abbotsford  5080000.0  08B  800000002
2          2017-18            7    Abbotsford  5761542.0  08B  840000001
3          2017-18            7    Abbotsford  5080000.0  08B  840000002
4          2017-18            7    Abbotsford  5650000.0  08B  842300001
...            ...          ...           ...        ...  ...        ...
720781     2018-19         6748  Yorkville J2     8000.0  80E  253000100
720782     2018-19         6748  Yorkville J2     8000.0  80R  000000000
720783     2018-19         6748  Yorkville J2     8000.0  80R  000000200
720784     2018-19         6748  Yorkville J2     8000.0  80R  000000210
720785     2018-19         6748  Yorkville J2     8000.0  80R  000000211

[720782 rows x 6 columns]

In [43]:
budget_df.to_csv('budget_clean.csv')

In [44]:

#create connection to Postgres, add movies_df df to sql database
#create connection string through local serving (using db password variable)
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/HSPostSecAnalysis"
#create database engine
engine = create_engine(db_string)


#save DataFrame to a SQL table (specify name of table and engine in to_sql method)
masterlist_df.to_sql(name='Master', con=engine, if_exists='replace')
post_sec_df.to_sql(name='PostSecEnroll', con=engine, if_exists='replace')
budget_df.to_sql(name='Budgets', con=engine, if_exists='replace')
cost_df.to_sql(name='Costs', con=engine, if_exists='replace')
revenue_df.to_sql(name='Revenues', con=engine, if_exists='replace')
reportcard_df.to_sql(name='ReportCards', con=engine, if_exists='replace')