In [ ]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

In [ ]:
# 1 Add the function that takes in  arguments for each combined data file;


# Read in the files as Pandas DataFrames.

postsecdata_to_load = "Resources/postsecondary_enrollment_combined_1718_1819_1920.csv"
budgetrollup_to_load = "Resources/combined_rollup_budget_data_1718_1819.csv"
costdata_to_load = "Resources/comp_cost_combined_1718_1819_1920_2021.csv"
revenuedata_to_load = "Resources/comp_rev_combined_1718_1819_1920_2021.csv"
reportcarddata_to_load = "Resources/district_reportcard_combined_1718_1819_2021.csv"
masterlist_to_load = "Resources/Master_Schools_list.csv"

post_sec_df = pd.read_csv(postsecdata_to_load)
budget_df = pd.read_csv(budgetrollup_to_load)
cost_df = pd.read_csv(costdata_to_load)
revenue_df = pd.read_csv(revenuedata_to_load)
reportcard_df = pd.read_csv(reportcarddata_to_load)
masterlist_df = pd.read_csv(masterlist_to_load)

In [ ]:
masterlist_df.dtypes

In [ ]:
revenue_df.dtypes

In [ ]:
revenue_df.head()

In [ ]:
revenue_df.count()

In [ ]:
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].str.replace(',', '')
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].str.replace('$', '')
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].astype(float)

revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].str.replace(',', '')
revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].str.replace('$', '')
revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].astype(float)

revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].str.replace(',', '')
revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].str.replace('$', '')
revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].astype(float)

revenue_df[' STATE '] = revenue_df[' STATE '].str.replace(',', '')
revenue_df[' STATE '] = revenue_df[' STATE '].str.replace('$', '')
revenue_df[' STATE '] = revenue_df[' STATE '].astype(float)

revenue_df[' LOCAL '] = revenue_df[' LOCAL '].str.replace(',', '')
revenue_df[' LOCAL '] = revenue_df[' LOCAL '].str.replace('$', '')
revenue_df[' LOCAL '] = revenue_df[' LOCAL '].astype(float)

In [ ]:
revenue_df = revenue_df.rename(columns={'FISCAL_YEAR': 'YEAR'})
revenue_df = revenue_df.rename(columns={' STATE ': 'STATE'})
revenue_df = revenue_df.rename(columns={' FEDERAL ': 'FEDERAL'})
revenue_df = revenue_df.rename(columns={' PROPTAX ': 'PROPTAX'})
revenue_df = revenue_df.rename(columns={' TOTAL ': 'TOTAL'})
revenue_df = revenue_df.rename(columns={' LOCAL ': 'LOCAL'})
revenue_df = revenue_df.rename(columns={'DISTRICT NAME': 'DISTRICT'})
revenue_df = revenue_df.rename(columns={'DISTRICT_ID': 'ID'})


revenue_df.head()

In [ ]:
revenue_df.head()

In [ ]:
cost_df.head()

In [ ]:
cost_df.dtypes

In [ ]:
cost_df.count()

In [ ]:
#dropping Holy Hill Area from data because no cost data in 2018 
cost_df = cost_df[cost_df['DISTRICT_ID'] != 2570]
#dropping Norris (missing data and correctional facility outlier)
cost_df = cost_df[cost_df['DISTRICT_ID'] != 3976]

#dropping two more with - values in food service column
cost_df = cost_df[cost_df['DISTRICT_ID'] != 2051]
cost_df = cost_df[cost_df['DISTRICT_ID'] != 6069]
cost_df.count()

In [ ]:
cost_df.head()

In [ ]:
cost_df['Instruction '] = cost_df['Instruction '].str.replace(',', '')
cost_df['Instruction '] = cost_df['Instruction '].str.replace('$', '')
cost_df['Instruction '] = cost_df['Instruction '].astype(float)

cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].str.replace(',', '')
cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].str.replace('$', '')
cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].astype(float)

cost_df['Admin '] = cost_df['Admin '].str.replace(',', '')
cost_df['Admin '] = cost_df['Admin '].str.replace('$', '')
cost_df['Admin '] = cost_df['Admin '].astype(float)

cost_df['Operation_Other '] = cost_df['Operation_Other '].str.replace(',', '')
cost_df['Operation_Other '] = cost_df['Operation_Other '].str.replace('$', '')
cost_df['Operation_Other '] = cost_df['Operation_Other '].astype(float)

cost_df['Transportation_cost '] = cost_df['Transportation_cost '].str.replace(',', '')
cost_df['Transportation_cost '] = cost_df['Transportation_cost '].str.replace('$', '')
cost_df['Transportation_cost '] = cost_df['Transportation_cost '].astype(float)

#not going to use facility cost because too many - values and not useful to us
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace(',', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace('(', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace(')', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace('$', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].astype(float)

cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].str.replace(',', '')
cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].str.replace('$', '')
cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].astype(float)

cost_df.head()

In [ ]:
#dropping facility cost column
cost_df = cost_df.drop(['Facility_cost '], axis=1)

# cost_df.head()

In [ ]:
#replace fiscal year value with school year and rename column
cost_df.loc[cost_df['FISCAL_YEAR'] == 2020, 'FISCAL_YEAR'] = '2019-20'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2018, 'FISCAL_YEAR'] = '2017-18'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2019, 'FISCAL_YEAR'] = '2018-19'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2021, 'FISCAL_YEAR'] = '2020-21'

cost_df = cost_df.rename(columns={'FISCAL_YEAR': 'YEAR'})
cost_df = cost_df.rename(columns={'DISTRICT_ID': 'ID'})
cost_df = cost_df.rename(columns={'DISTRICT_NAME': 'DISTRICT'})

cost_df.head()

In [ ]:
reportcard_df.count()

In [ ]:
#check for missing values
reportcard_df

In [ ]:
#checking the data types
reportcard_df.dtypes

In [ ]:
for col in reportcard_df.columns:
    print(col)

In [ ]:
# checking the null values but not removing due to data loss
reportcard_df.isnull().sum()

In [ ]:
# removing columns 'School_Code','School_Type'
reportcard_df = reportcard_df.drop(columns=['School_Code','School_Type'])
#changing data type to string
reportcard_df['Cooperative_Educational_Service_Agency'] = reportcard_df['Cooperative_Educational_Service_Agency'].astype("string")
#changing data type to string
reportcard_df['Lowest_Grade_in_the_District'] = reportcard_df['Lowest_Grade_in_the_District'].astype("string")
#changing data type to string
reportcard_df['Highest_Grade_in_the_District'] = reportcard_df['Highest_Grade_in_the_District'].astype("string")
#Removing NA and AR values from Percent_Students_with_Disabilities
reportcard_df= reportcard_df.dropna(subset =['Overall_Accountability_Score'])
#Removing NA and AR values from Percent_Students_with_Disabilities
reportcard_df = reportcard_df[reportcard_df['Overall_Accountability_Score']!='AR']
#changing data type to float
reportcard_df['Overall_Accountability_Score'] =reportcard_df['Overall_Accountability_Score'].astype(float)
#changing data type to float
reportcard_df['Percent_Students_with_Disabilities'] =reportcard_df['Percent_Students_with_Disabilities'].astype(float)
#changing data type to float
reportcard_df['Percent_Limited_English_Proficient'] =reportcard_df['Percent_Limited_English_Proficient'].astype(float)
#changing data type to float
reportcard_df['Percent_Economically_Disadvantaged'] =reportcard_df['Percent_Economically_Disadvantaged'].astype(float)

reportcard_df = reportcard_df.rename(columns={'School_Year': 'SCHOOL_YEAR'})

reportcard_df = reportcard_df.rename(columns={'SCHOOL_YEAR': 'YEAR'})
reportcard_df = reportcard_df.rename(columns={'District_ID': 'ID'})
reportcard_df = reportcard_df.rename(columns={'District_Name': 'DISTRICT'})


#New dtypes
reportcard_df.dtypes

In [ ]:
post_sec_df.dtypes

In [ ]:
post_sec_df.count()

In [ ]:
# Remove aggregate data with [Statewide] distinction
post_sec_df = post_sec_df[post_sec_df['DISTRICT_ID'] != 0]
post_sec_df.head(10)

In [ ]:
post_sec_df = post_sec_df[post_sec_df['STUDENT_COUNT'] != '*']
post_sec_df.count()

In [ ]:
# replace '*' with NaN
post_sec_df = post_sec_df.replace('*', np.NaN)
# Remove aggregate data with [Districtwide] distinction
post_sec_df = post_sec_df[post_sec_df['SCHOOL_NAME'] != '[Districtwide]']
post_sec_df.count()

In [ ]:
# Typecast numeric data
post_sec_df['CESA'] = post_sec_df['CESA'].astype(int)
post_sec_df['SCHOOL_CODE'] = post_sec_df['SCHOOL_CODE'].astype(int)
post_sec_df['GROUP_COUNT'] = post_sec_df['GROUP_COUNT'].astype(int)
post_sec_df['STUDENT_COUNT'] = post_sec_df['STUDENT_COUNT'].astype(int)

# Change Charter School Yes/No to a boolean
post_sec_df['CHARTER_IND'].replace(('Yes', 'No'), (True, False), inplace=True)

post_sec_df = post_sec_df.rename(columns={'SCHOOL_YEAR': 'YEAR'})
post_sec_df = post_sec_df.rename(columns={'DISTRICT_ID': 'ID'})
post_sec_df = post_sec_df.rename(columns={'DISTRICT_NAME': 'DISTRICT'})

In [ ]:
post_sec_df.dtypes

In [ ]:
post_sec_df.to_csv('post_sec_clean.csv')

In [ ]:
#check for missing values
budget_df.count()

In [ ]:
#total empty rows
budget_df.isnull().sum()

In [ ]:
budget_df.dtypes

In [ ]:
#dropping Hartford UHS and Platteville with - values in amount column
budget_df = budget_df[budget_df[' AMOUNT '] != ' $-   ']
budget_df.count()

In [ ]:
# Remove $ and , and convert to float
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(',', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(' ', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace('(', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(')', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace('$', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].astype(float)

budget_df = budget_df.rename(columns={'School_Year': 'YEAR'})
budget_df = budget_df.rename(columns={'DISTRICT_ID': 'ID'})
budget_df = budget_df.rename(columns={'DISTRICT_NAME': 'DISTRICT'})

In [ ]:
budget_df.head()

In [ ]:
# split column and add new columns to df
split_fund_function = budget_df['Fund_Function'].str.split(' ', expand=True)
# display the dataframe
split_fund_function.head()

In [ ]:
#dropping fund function column
budget_df = budget_df.drop(['Fund_Function'], axis=1)
budget_df.head()

In [ ]:
budget_df = budget_df.join(split_fund_function)
budget_df.head()

In [ ]:
budget_df.columns = ['YEAR', 'ID', 'DISTRICT', 'AMOUNT', 'FUND', 'FUNCTION']

In [ ]:
budget_df

In [ ]:
budget_df.to_csv('Resources/budget_clean.csv')

In [ ]:

#create connection to Postgres, add movies_df df to sql database
#create connection string through local serving (using db password variable)
db_string = f"postgresql://postgres:postgres@127.0.0.1:5432/HSPostSecAnalysis"
#create database engine
engine = create_engine(db_string)


#save DataFrame to a SQL table (specify name of table and engine in to_sql method)
masterlist_df.to_sql(name='Master', con=engine, if_exists='replace')
post_sec_df.to_sql(name='PostSecEnroll', con=engine, if_exists='replace')
budget_df.to_sql(name='Budgets', con=engine, if_exists='replace')
cost_df.to_sql(name='Costs', con=engine, if_exists='replace')
revenue_df.to_sql(name='Revenues', con=engine, if_exists='replace')
reportcard_df.to_sql(name='ReportCards', con=engine, if_exists='replace')