In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

import pandas as pd
import tensorflow as tf

In [2]:
# from google.colab import drive
# drive.mount('/content/gdrive')

In [3]:
# Import our input dataset
url = 'https://raw.githubusercontent.com/Lalita-ponnapalli/HS_Baseball_Scholarships/main/allstudentactivities1718final.csv'
schdist_df = pd.read_csv(url)
schdist_df.head()

,id,year,revtotal,member,overallaccountscore,activitysum,revperstudent,diststudachievescore,diststudentgrowthscore,pctlep,...,pctecondisad,insttype,largegroupby,groupbyvalue,groupcount,studentcount,schoolname,initenroll,instloc,instlevel
0,7,2017-18,9963425.41,771,76.3,553604.0,12922.730752,50.6,69.9,0.308,...,0.685,Public,All Students,All Students,31,12,Abbotsford Middle/Senior High,First Fall,In-State,2-Year
1,7,2017-18,9963425.41,771,76.3,553604.0,12922.730752,50.6,69.9,0.308,...,0.685,Public,All Students,All Students,31,6,Abbotsford Middle/Senior High,First Fall,In-State,4-Year
2,7,2017-18,9963425.41,771,76.3,553604.0,12922.730752,50.6,69.9,0.308,...,0.685,Public,All Students,All Students,31,4,Abbotsford Middle/Senior High,First Fall,In-State,Multiple
3,7,2017-18,9963425.41,771,76.3,553604.0,12922.730752,50.6,69.9,0.308,...,0.685,Public,All Students,All Students,31,3,Abbotsford Middle/Senior High,Second Fall,In-State,2-Year
4,7,2017-18,9963425.41,771,76.3,553604.0,12922.730752,50.6,69.9,0.308,...,0.685,Public,All Students,All Students,31,1,Abbotsford Middle/Senior High,Second Fall,In-State,4-Year

In [4]:
schdist_df.count()

id                        4370
year                      4370
revtotal                  4370
member                    4370
overallaccountscore       4370
activitysum               4370
revperstudent             4370
diststudachievescore      4370
diststudentgrowthscore    4229
pctlep                    4370
pctwhite                  4370
pctswd                    4370
pctecondisad              4370
insttype                  4370
largegroupby              4370
groupbyvalue              4370
groupcount                4370
studentcount              4370
schoolname                4370
initenroll                4370
instloc                   4370
instlevel                 4370
dtype: int64

In [5]:
schdist_df = schdist_df.drop(columns=['year', 'schoolname'])

In [6]:
# Generate our categorical variable list
schdist_cat = schdist_df.dtypes[schdist_df.dtypes == "object"].index.tolist()
schdist_cat

['insttype',
 'largegroupby',
 'groupbyvalue',
 'initenroll',
 'instloc',
 'instlevel']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(schdist_df[schdist_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(schdist_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,insttype_Public,largegroupby_All Students,groupbyvalue_All Students,initenroll_First Fall,initenroll_Later Enrollment,initenroll_Second Fall,instloc_In-State,instloc_Multiple,instloc_Out-of-State,instlevel_2-Year,instlevel_4-Year,instlevel_Multiple
0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [8]:
# Merge one-hot encoded features and drop the originals
schdist_df = schdist_df.merge(encode_df,left_index=True, right_index=True)
schdist_df = schdist_df.drop(schdist_cat,1)
schdist_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,id,revtotal,member,overallaccountscore,activitysum,revperstudent,diststudachievescore,diststudentgrowthscore,pctlep,pctwhite,...,groupbyvalue_All Students,initenroll_First Fall,initenroll_Later Enrollment,initenroll_Second Fall,instloc_In-State,instloc_Multiple,instloc_Out-of-State,instlevel_2-Year,instlevel_4-Year,instlevel_Multiple
0,7,9963425.41,771,76.3,553604.0,12922.730752,50.6,69.9,0.308,0.493,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,7,9963425.41,771,76.3,553604.0,12922.730752,50.6,69.9,0.308,0.493,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,7,9963425.41,771,76.3,553604.0,12922.730752,50.6,69.9,0.308,0.493,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,7,9963425.41,771,76.3,553604.0,12922.730752,50.6,69.9,0.308,0.493,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,7,9963425.41,771,76.3,553604.0,12922.730752,50.6,69.9,0.308,0.493,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [30]:
# Split our preprocessed data into our features and target arrays
y = schdist_df["studentcount"].values
X = schdist_df.drop(["studentcount"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
y_train

array([6, 3, 1, ..., 4, 3, 1])

In [32]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 8)                 208

 dense_10 (Dense)            (None, 5)                 45

 dense_11 (Dense)            (None, 1)                 6

=================================================================
Total params: 259
Trainable params: 259
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(loss="mean_absolute_error", metrics=["accuracy"])

In [35]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
103/103 [==============================] - 1s 3ms/step - loss: nan - accuracy: 0.0046
Epoch 2/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 3/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 4/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 5/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 6/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 7/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 8/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 9/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 10/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 11/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 12/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 13/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 14/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 15/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 16/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 17/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 18/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 19/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 20/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 21/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 22/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 23/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 24/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 25/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 26/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 27/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 28/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 29/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 30/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 31/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 32/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 33/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 34/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 35/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 36/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 37/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 38/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 39/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 40/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 41/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 42/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 43/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 44/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 45/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 46/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 47/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 48/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 49/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 50/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 51/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 52/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 53/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 54/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 55/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 56/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 57/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 58/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 59/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 60/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 61/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 62/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 63/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 64/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 65/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 66/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 67/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 68/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 69/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 70/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 71/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 72/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 73/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 74/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 75/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 76/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 77/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 78/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 79/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 80/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 81/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 82/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 83/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 84/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 85/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 86/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 87/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 88/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 89/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 90/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 91/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 92/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 93/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 94/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 95/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 96/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 97/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 98/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 99/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 100/100
103/103 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.0000e+00

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

35/35 - 0s - loss: nan - accuracy: 0.0000e+00 - 186ms/epoch - 5ms/step
Loss: nan, Accuracy: 0.0